#centrado.borde
	= form_tag sessions_path, :class => "formulario_login" do
		%table
			%tr
				%td
					Usuario
				%td
					=text_field_tag :usuario, nil, :class => "login"
			%tr
				%td
					Clave
				%td
					=password_field_tag :clave, nil,  :class => "login"

		%p.button
			= submit_tag "Entrar"
%p.error
	
