%section.contexto
  %label.contexto 
    Listado General GLN
  %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
  %p#notice= notice
  =render 'exportar_reporte_gln'
  %br
  %br
  %table#data_table_reporte_glns.display{:"data-source" => "/reportes.json?reporte_gln=true"}
    %thead
      %tr
        %th Nombre Empresa
        %th Prefijo
        %th GLN
        %th Tipo GLN
        %th Código localización
        %th Estatus
        %th Estado
        %th Ciudad
        
        
    
        
    %tbody
    %tfoot
      =render "footer_reporte_gln"
  
    
  
