%section.contexto
  %label.contexto 
    =@navegabilidad
  %hr.contexto{:size => "1"}

  %section.formulario
  %p#notice= notice

  %table

    %tr
      %td
        Nombre del contacto
      %td
        =@empresa.rep_legal
    %tr
      %td
        Cargo
      %td
        =@empresa.cargo_rep_legal
    %tr
      %td
        Teléfono Principal
      %td
        =@contacto.try(:contacto) ? @contacto.try(:contacto) : "No tiene"
    %tr
      %td
        Edificio
      %td
        =@etiqueta.try(:edificio)
    %tr
      %td
        Calle
      %td
        =@etiqueta.try(:calle)
    %tr
      %td
        Urbanización
      %td
        =@etiqueta.try(:urbanizacion)
    %tr
      %td
        Estado
      %td 
        =@etiqueta.try(:estado).try(:nombre)
    %tr
      %td
        Ciudad
      %td
        =@etiqueta.try(:ciudad).try(:nombre)
    %tr
      %td
        Municipio
      %td
      
        =@etiqueta.try(:municipio).try(:nombre)
    %tr
      %td
        Parroquia
      %td
        /=@etiqueta.try(:parroquia).try(:nombre)
        =@etiqueta.try(:nombre_parroquia)
    %tr
      %td
        Código Postal
      %td
        =@etiqueta.try(:cod_postal)
    %tr
      %td
        Punto Referencia
      %td
        =@etiqueta.try(:punto_referencia)
  
  
  %br
  %br
  %a.ui-state-default.ui-corner-all.etiqueta_regresar_empresas{:href => "/empresas", :title => "Regresar"}
    %span.ui-icon.ui-icon-arrowreturnthick-1-w
    Regresar

  - if UsuariosAlcance.verificar_alcance(session[:perfil], 'Modificar Etiqueta')

    %a.ui-state-default.ui-corner-all.etiqueta_regresar_empresas_editar{:href => "#{edit_empresa_etiqueta_path(params[:empresa_id], params[:empresa_id])}", :title => "Editar datos de la etiqueta"}
      %span.ui-icon.ui-icon.ui-icon-extlink
      Editar
  
  %a.ui-state-default.ui-corner-all.etiqueta_regresar_empresas_exportar{:href => "/empresas/#{params[:empresa_id]}/etiquetas/#{params[:empresa_id]}.pdf", :title => "Exportar etiqueta formato PDF", :target => "_blank"}
    %span.ui-icon.ui-icon.ui-icon-extlink
    Exportar PDF

  