%table
    %tr
        %td
            %form{action: "/productos.xlsx?productos_gtin_8=true", method: "get", target: "_blank"}
                .parametros
                %button.ui-state-default.ui-corner-all.exportar_productos_gtin_8{:type => "submit", :title => "Opción que te permite exportar el listado de productos GTIN-8 a formato Excel"}
                    %span.ui-icon.ui-icon-disk
                    Exportar Excel

        