%section.contexto
    %label.contexto
        =@navegabilidad 
    %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
    = render 'exportar_productos_eliminar'
    =form_tag "#{empresa_productos_path}/update_multiple", :method => "put", :id => "formulario_eliminar_productos" do
       
        %table.margen_inferior{:border => 1}
            %tr
                %td
                    Eliminar Masivo
                %td
                    SubEstatus
                %td
                    Motivo Retiro
            %tr
                %td
                    =check_box_tag "eliminar_masivo_productos"
                %td
                    =select_tag("sub_estatus", options_from_collection_for_select(SubEstatus.all, "id", "descripcion"))
                %td
                    =select_tag("motivo_retiro", options_from_collection_for_select(MotivoRetiro.all, "id", "descripcion"))
                    
        %table#data_table_eliminar_productos.display{:"data-source" => "#{empresa_productos_path}.json?eliminar=true"}
            %thead
                %tr
                    %th
                    %th Empresa
                    %th Tipo GTIN    
                    %th GTIN
                    %th Descripción
                    %th Marca
                    %th Estatus
                    %th Código Prod
                    %th Fecha Creación
                    %th Sub Estatus
                    %th Motivo Retiro
                    %th Fecha Retiro
                   
            %tbody
            %tfoot
                =render 'footer_eliminar_productos'
        
        %br/
        %br/
        #datos_productos_eliminar_productos
        =hidden_field_tag "eliminar"
        %button#submit.ui-state-default.ui-corner-all.eliminar_productos{:type => "submit", :title => "Eliminar productos"}
            %span.ui-icon.ui-icon-circle-minus
            Eliminar
        %a.ui-state-default.ui-corner-all.regresar{:href => "/empresas/#{params[:empresa_id]}/productos", :title => "Regresar al listado de productos para esta Empresa"}
            %span.ui-icon.ui-icon-arrowreturnthick-1-w
            Regresar
        
        
