%section.contexto
    %label.contexto 
        = @navegabilidad
    %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    =render "exportar_productos"
    %br/
    %br/  
    
    %table#data_table_productos.display{:"data-source" => "#{@ruta}"}
        %thead
            %tr
                %th Tipo GTIN    
                %th GTIN
                %th Descripción
                %th Marca
                %th Estatus
                %th Código Prod
                %th Fecha Creación
                %th Fecha Modificación
                -if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Registrar Producto')
                    %th GTIN 14
                -if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Modificar Producto')
                    %th Editar
        %tbody
        %tfoot
            -if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Registrar Producto')
                =render 'footer'
            -else
                =render 'footer_not_editable'
    %br/
    %br/
    
    - if (UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Importar Producto') and params[:empresa_retirada].nil? and params[:insolvente].nil?)

        %a.boton_importar.ui-state-default.ui-corner-all{:href => "#", :title => "Opción que permite importar los productos desde un archivo Excel"}
            %span.ui-icon.ui-icon-transferthick-e-w
            Importar Producto
    
        =render "importar_producto"

    %a.ui-state-default.ui-corner-all.regresar_empresas{:href => "/empresas", :title => "Regresar al listado general de empresas"}
        %span.ui-icon.ui-icon-arrowreturnthick-1-w
        Regresar