%section.contexto
    %label.contexto Productos > Listado
    %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    %table#data_table_productos.display{:"data-source" => "/productos.json?prefijo=#{@prefijo}"}
        %thead
            %tr
               
                %th Empresa
                %th Tipo GTIN    
                %th GTIN
                %th Descripción
                %th Marca
                %th GPC
                %th Estatus
                %th Código Prod
                %th Fecha Creación
                %th
                %th
               
        %tbody
        %tfoot
            =render 'footer'
    %br/
    %br/

    = link_to 'Crear Producto', new_empresa_producto_path
    
    %a#boton_importar.ui-state-default.ui-corner-all{:href => "#"}
        %span.ui-icon.ui-icon-transferthick-e-w
        Importar Producto

    /=link_to "Importar Producto", "#", :id => "boton_importar"

    #importar_producto

        =form_tag "/empresas/#{@prefijo}/productos/import" , multipart: true do
            %table
                %tr
                    %td
                        =file_field_tag :file
                   
            %table    

                %tr
                    %td
                        Tipo GTIN
                    %td
                        =select_tag "tipo_gtin", options_from_collection_for_select(TipoGtin.find(:all, :conditions => ["id in (?)", [1,3]]), "id", "tipo"), prompt: "- Seleccione -"
                %tr
                    %td
                        =submit_tag "Importar"
                    %td

    .loader_prueba
        /=image_tag "loader.gif", :class => "loader" 
