%section.contexto
    %label.contexto
        =@navegabilidad 
    %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    = render 'exportar_productos_retirados'
    %table#data_table_productos_retirados.display{:"data-source" => "#{empresa_productos_path}.json?retirados=true"}
        %thead
            %tr
               
                %th Empresa
                %th Tipo GTIN    
                %th GTIN
                %th Descripción
                %th Marca
                %th Estatus
                %th Código Prod
                %th Fecha Creación
                %th SubEstatus
                %th Motivo Retiro
                %th Fecha Retiro 
               
        %tbody
        %tfoot
            =render 'footer_productos_retirados'
   
    %br/
    %br/
    %a.ui-state-default.ui-corner-all.regresar{:href => "#{empresa_productos_path}", :title => "Regresar"}
        %span.ui-icon.ui-icon-arrowreturnthick-1-w
        Regresar

    