%section.contexto
  %label.contexto
    =@navegabilidad
  %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
  %p#notice= notice
  =render 'exportar_servicios_eliminados'
  %table#data_table_empresa_servicios_eliminados.display{:"data-source" => "/empresas/#{params[:empresa_id]}/empresa_servicios.json?eliminados=true"}
    %thead
      %tr
        %th Prefijo
        %th Servicio
        %th Fecha Contratación
        %th Fecha Finalización
        %th Nombre Contacto
        %th Cargo Contacto
        %th Teléfono
        %th Correo
        %th Sub Estatus
        %th Motivo Retiro
        %th Fecha Eliminación
        

    %tbody
    %tfoot
      = render 'footer_eliminados'

  %br
  %br
  %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas/#{params[:empresa_id]}/empresa_servicios", :title => "Regresar"}
    %span.ui-icon.ui-icon-arrowreturnthick-1-w
    Regresar
  
