%table
    %tr
        

        %td
            %form{action: "/empresas.xlsx", method: "get"}
                .parametros
                %button.ui-state-default.ui-corner-all.exportar_empresas_eliminadas{:type => "submit", :title => "Opción que te permite exportar el listado general de Empresas ELiminadas a formato Excel"}
                    %span.ui-icon.ui-icon-disk
                    Exportar Excel