%br
  %label.contexto
    b. DIRECCION PARA ENVIO DE CORRESPONDENCIA DE COMERCIO ELECTRONICO Y SINCRONET
  %hr.contexto{:size => "1"}

    %table
      %tr
        %td
          NOMBRE PERSONA CONTACTO
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =text_field_tag :persona_contacto_sincronet
          -else
            =text_field_tag :persona_contacto_sincronet, @correspondencia_sincronet.try(:rep_tecnico)
      %tr
        %td
          CARGO
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =text_field_tag :cargo_sincronet
          -else
            =text_field_tag :cargo_sincronet, @correspondencia_sincronet.try(:cargo_rep_tecnico)
      %tr
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =select_tag(:edificio_sincronet, options_for_select(['Galpón', 'Edificio', 'Quinta']), { :prompt => "- Galpón/Edificio/Quinta -"})
          -else
            =select_tag(:edificio_sincronet, options_for_select(['Galpón', 'Edificio', 'Quinta'], @correspondencia_sincronet.try(:edificio)), { :prompt => "- Galpón/Edificio/Quinta -"})
          
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =text_field_tag :detalle_edificio_sincronet
          -else
            =text_field_tag :detalle_edificio_sincronet, @correspondencia_sincronet.try(:detalle_edificio)
      %tr
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =select_tag(:piso_sincronet, options_for_select(['Piso', 'Nº']), { :prompt => "- Piso/Nº -"})
          -else
            =select_tag(:piso_sincronet, options_for_select(['Piso', 'Nº'], @correspondencia_sincronet.try(:piso)), { :prompt => "- Piso/Nº -"})
          
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =text_field_tag :detalle_piso_sincronet 
          -else
            =text_field_tag :detalle_piso_sincronet, @correspondencia_sincronet.try(:detalle_piso)
      %tr
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =select_tag(:oficina_sincronet, options_for_select(['Oficina', 'Apartamento']), { :prompt => "-Oficina/Apartamento-"})
          -else 
            =select_tag(:oficina_sincronet, options_for_select(['Oficina', 'Apartamento'], @correspondencia_sincronet.try(:oficina)), { :prompt => "-Oficina/Apartamento-"})
          
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =text_field_tag :detalle_oficina_sincronet 
          -else
            =text_field_tag :detalle_oficina_sincronet, @correspondencia_sincronet.try(:detalle_oficina) 
          
      %tr
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(select_tag(:calle_sincronet, options_for_select(['Avenida', 'Calle']), { :prompt => "- Avenida/Calle -"}))
          -else
            =(select_tag(:calle_sincronet, options_for_select(['Avenida', 'Calle'], @correspondencia_sincronet.try(:calle)), { :prompt => "- Avenida/Calle -"}))
          
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :detalle_calle_sincronet)
          -else
            =(text_field_tag :detalle_calle_sincronet, @correspondencia_sincronet.try(:detalle_calle))
      %tr
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =((select_tag(:urbanizacion_sincronet, options_for_select(['Urbanización', 'Barrio', 'Sector', 'Terraza']), { :prompt => "- Urb./Barrio/Sector/Terraza -"}))) 
          -else
            =(select_tag(:urbanizacion_sincronet, options_for_select(['Urbanización', 'Barrio', 'Sector', 'Terraza'], @correspondencia_sincronet.try(:urbanizacion)), { :prompt => "- Urb./Barrio/Sector/Terraza -"}))
          
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :detalle_urbanizacion_sincronet) 
          -else
            =(text_field_tag :detalle_urbanizacion_sincronet, @correspondencia_sincronet.try(:detalle_urbanizacion))
          
      %tr
        %td
          ESTADO
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(select_tag :estado_sincronet, options_from_collection_for_select(Estado.find(:all, :order => "nombre ASC"), :id, :nombre), {:prompt => '-Seleccione Estado-'}) 
          -else
            =(select_tag :estado_sincronet, options_from_collection_for_select(Estado.find(:all, :order => "nombre ASC"), :id, :nombre, @correspondencia_sincronet.try(:id_estado)), {:prompt => '-Seleccione Estado-'})
      %tr
        %td
          CIUDAD
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(select_tag :ciudad_sincronet,  options_from_collection_for_select(Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre), {:prompt => '-Seleccione Ciudad-'}) 
          -else
            =(select_tag :ciudad_sincronet,  options_from_collection_for_select(Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, @correspondencia_sincronet.try(:id_ciudad)), {:prompt => '-Seleccione Ciudad-'})
          
      %tr
        %td
          MUNICIPIO
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(select_tag :municipio_sincronet,  options_from_collection_for_select(Municipio.find(:all, :order => "nombre ASC"), :id, :nombre), {:prompt => '-Seleccione Municipio-'})
          -else 
            =(select_tag :municipio_sincronet,  options_from_collection_for_select(Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, @correspondencia_sincronet.try(:id_municipio)), {:prompt => '-Seleccione Municipio-'})
          
      %tr
        %td
          PARROQUIA
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :parroquia_sincronet) 
          -else
            =(text_field_tag :parroquia_sincronet, @correspondencia_sincronet.try(:nombre_parroquia))
          
      %tr
        %td
          Punto Referencia
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :punto_referencia_sincronet)
          -else
            =(text_field_tag :punto_referencia_sincronet, @correspondencia_sincronet.try(:punto_referencia))
      %tr
        %td
          Código Postal
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :codigo_postal_sincronet) 
          -else
            =(text_field_tag :codigo_postal_sincronet, @correspondencia_sincronet.try(:cod_postal))

      %tr
        %td
          Teléfono 1 (58)
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :telefono1_sincronet)
          -else
            =(text_field_tag :telefono1_sincronet, @correspondencia_sincronet.try(:telefono1))
      %tr
        %td
          Teléfono 2 (58)
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :telefono2_sincronet) 
          -else
            =(text_field_tag :telefono2_sincronet, @correspondencia_sincronet.try(:telefono2))
      %tr
        %td
          Teléfono 3 (58)
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :telefono3_sincronet) 
          -else
            =(text_field_tag :telefono3_sincronet, @correspondencia_sincronet.try(:telefono3))
      %tr
        %td
          Fax (58)
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :fax_sincronet) 
          -else
            =(text_field_tag :fax_sincronet, @correspondencia_sincronet.try(:fax))
      %tr
        %td
          E-mail
        %td
          -if (@empresa.new_record?) or (@correspondencia_sincronet.nil?)
            =(text_field_tag :email_sincronet, nil, {:class => "email"})
          -else
            =(text_field_tag :email_sincronet, @correspondencia_sincronet.try(:email), {:class => "email"})