#notice=notice
%br
%table#data_table_empresas_datos_contacto.display
  %thead
    %tr
      %th Tipo Contacto
      %th Detalle
  %tbody
    - @datos_contactos.each do |datos_contacto|
      %tr
        %td= datos_contacto.tipo
        %td= datos_contacto.contacto
        
              
%br/
%br/

%br
%br
%br
%br