%table
    %tr
        %td
            %form{action: "/empresas.pdf", method: "get", target: "_blank"}
                .parametros
                %button.ui-state-default.ui-corner-all.exportar_empresas_no_validadas{:type => "submit", :title => "Opción que te permite exportar el listado general de Empresas a formato PDF"}
                    %span.ui-icon.ui-icon-disk
                    Exportar PDF
        %td
            %form{action: "/empresas.xlsx", method: "get"}
                .parametros
                %button.ui-state-default.ui-corner-all.exportar_empresas_no_validadas{:type => "submit", :title => "Opción que te permite exportar el listado general de Empresas a formato Excel"}
                    %span.ui-icon.ui-icon-disk
                    Exportar Excel