%tr
	%th
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	%th.ui-state-default{:colspan => "1", :rowspan => "1"}
		%span.filter_column.filter_text
			%input.search_init.text_filter{:type => "text"}/
	
	