%table.margen_inferior{:border => 1}
    %tr
        %td
            Retiro Masivo
        %td
            Motivo Retiro
    %tr
        %td
            =check_box_tag "retiro_masivo"
        %td
            =select_tag("motivo_retiro", options_from_collection_for_select(MotivoRetiro.all, "id", "descripcion"))