%section.contexto
    %label.contexto Empresas > Activar Empresas
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    =form_tag update_multiple_empresas_path, :method => "put", :id => "activar_empresa" do
        %button#submit.ui-state-default.ui-corner-all.activar_empresa{:type => "submit", :title => "Activar empresas seleccionadas"}
            %span.ui-icon.ui-icon-circle-check
            Activar Empresa
        %table#data_table_empresas_activacion.display{:"data-source" => "/empresas.json?activacion=true"}
            %thead
                %tr
                    %th Selección
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripción
                    %th Dirección empresa
                    %th Estado
                    %th Ciudad
                    %th RIF
                    %th Estatus
            %tbody
            %tfoot
                =render 'footer_activacion'
        %br/
        %br/
        =hidden_field_tag "activacion", "true"
        %button#submit.ui-state-default.ui-corner-all.activar_empresa{:type => "submit", :title => "Activar empresas seleccionadas"}
            %span.ui-icon.ui-icon-circle-check
            Activar Empresa
      