%section.contexto
    %label.contexto Empresas > Activar Empresas
    %hr.contexto{:size => "1"}
%p#notice.ui-state-highlight.ui-corner-all
    -if (notice)
        =notice
        -notice = nil
%section#areaTrabajo.areaTrabajo
    =form_tag update_multiple_empresas_path, :method => "put" do
        %table#data_table_empresas_activacion.display{:"data-source" => "/empresas.json?activacion=true"}
            %thead
                %tr
                    %th Selección
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripción
                    %th Dirección empresa
                    %th Estado
                    %th Ciudad
                    %th RIF
                    %th Estatus
                    %th Id tipo Usuario
                    %th Nombre Comercial
                    %th Id Clasificación
                    %th Categoría
                    %th División
                    %th Grupo
                    %th Clase
                    %th Rep legal
                    %th Cargo rep legal
                    
            %tbody
            %tfoot
                =render 'footer_activacion'
        %br/
        %br/
        =hidden_field_tag "activacion", "true"
        = submit_tag 'Validar'
        = link_to 'Regresar', '/empresas'
    