%section.contexto
    %label.contexto Empresas > Empresas Eliminadas
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    
    = render 'botones_exportar_empresas_eliminadas'
    =form_tag update_multiple_empresas_path, :method => "put", :id => "formulario_eliminadas" do
        %table#data_table_empresas_eliminadas.display{:"data-source" => "/empresas.json?eliminadas=true"}
            %thead
                %tr
                    %th Selecci贸n
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripci贸n
                    %th Ciudad
                    %th RIF
                    %th Fecha Eliminaci贸n
                    %th Sub-estatus
                    %th Motivo Eliminaci贸n
                    %th Detalle
                    %th Productos
                    %th Servicios
                    %th GLN
            %tbody
            %tfoot
                =render 'footer_eliminadas'
        %br/
        %br/
        
        =hidden_field_tag "reactivar", "true"
        / - if UsuariosAlcance.verificar_alcance(session[:perfil], 'Reactivar Empresa')
        
        /     %button#submit.ui-state-default.ui-corner-all.reactivar{:type => "submit", :title => "Reactivar empresas seleccionadas"}
        /         %span.ui-icon.ui-icon-circle-check
        /         Reactivar Empresa
        
    