%section.contexto
    %label.contexto Empresas > Empresas Eliminadas
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    
    = render 'botones_exportar_empresas_eliminadas'
    =form_tag update_multiple_empresas_path, :method => "put", :id => "formulario_eliminadas" do
        %table#data_table_empresas_eliminadas.display{:"data-source" => "/empresas.json?eliminadas=true"}
            %thead
                %tr
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripción
                    %th Ciudad
                    %th RIF
                    %th Fecha Eliminación
                    %th Detalle
                    %th Productos
                    %th Servicios
                    %th GLN
                    %th Sub-estatus
                    %th Motivo Eliminación
            %tbody
            %tfoot
                =render 'footer_eliminadas'
        %br/
        %br/
        
        =hidden_field_tag "reactivar", "true"
        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas", :title => "Regresar al listado general de empresas"}
            %span.ui-icon.ui-icon-arrowreturnthick-1-w
            Regresar
        
        
    