%section.contexto
    %label.contexto Empresas > Empresas Reactivar
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    
    = render 'botones_exportar_empresas_retiradas'
    
    =form_tag update_multiple_empresas_path, :method => "put", :id => "formulario_reactivar" do

        %table#data_table_empresas_retiradas.display{:"data-source" => "/empresas.json?reactivar=true"}
            %thead
                %tr
                    %th Selección
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripción
                    %th Ciudad
                    %th RIF
                    %th Fecha Retiro
                    %th Sub-estatus
                    %th Motivo Retiro
                    %th Empresa Detalle
                    %th Productos
                    %th Servicios
                    %th GLN

            %tbody
            %tfoot
                =render 'footer_reactivar'
        %br/
        %br/
        #datos_empresas_eliminar
        =hidden_field_tag "reactivar", "true"
        - if UsuariosAlcance.verificar_alcance(session[:perfil], 'Reactivar Empresa')
            %button#submit.ui-state-default.ui-corner-all.reactivar{:type => "submit", :title => "Reactivar empresas seleccionadas"}
                %span.ui-icon.ui-icon-refresh
                Reactivar
        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas", :title => "Regresar al listado general de empresas"}
            %span.ui-icon.ui-icon-arrowreturnthick-1-w
            Regresar
        
        
    