%section.contexto
    %label.contexto Empresas Retiradas > Reactivar
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    
    /= render 'boton_reactivar_empresa'
    
    =form_tag update_multiple_empresas_path, :method => "patch", :id => "formulario_reactivar" do
        
        %table#data_table_reactivar_empresas.display{:"data-source" => "/empresas.json?reactivar=true"}
            %thead
                %tr
                    %th Selección
                    %th Prefijo
                    %th Nombre Empresa
                    %th Clasificación
                    %th Ciudad
                    %th Tipo Usuario
                    %th Fecha Retiro
                    %th Motivo Retiro
                    %th Empresa Detalle
                    %th Productos
                    %th Servicios
                    %th GLN

            %tbody
            %tfoot
                =render 'footer_reactivar'
        %br/
        %br/
        #datos_empresas_eliminar
        =hidden_field_tag "reactivar", "true"
        
        %button#submit.ui-state-default.ui-corner-all.reactivar{:type => "submit", :title => "Reactivar empresas seleccionadas"}
            %span.ui-icon.ui-icon-refresh
            Reactivar
        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas", :title => "Regresar al listado general de empresas"}
            %span.ui-icon.ui-icon-arrowreturnthick-1-w
            Regresar
        
        
    