%section.contexto
    %label.contexto Empresas > Empresas Eliminadas
    %hr.contexto{:size => "1"}
%p#notice.ui-state-highlight.ui-corner-all
    -if (notice)
        =notice
        -notice = nil
%section#areaTrabajo.areaTrabajo
    =form_tag update_multiple_empresas_path, :method => "put", :id => "formulario_eliminadas" do
        / %table.margen_inferior{:border => 1}
        /     %tr
        /         %td
        /             Activación Masiva
        /     %tr
        /         %td
        /             =check_box_tag "activacion_masiva"
       
        %table#data_table_empresas_retirar.display{:"data-source" => "/empresas.json?eliminadas=true"}
            %thead
                %tr
                    %th Selección
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripción
                    %th Dirección empresa
                    %th Estado
                    %th Ciudad
                    %th RIF
                    %th Estatus
                    %th Clasificación
                    %th Rep Legal
                    %th Sub-estatus
                    %th Motivo Eliminación

            %tbody
            %tfoot
                =render 'footer_retirar'
        %br/
        %br/
        #datos_empresas_retirar
        
        =hidden_field_tag "reactivar", "true"
        /= submit_tag 'Reactivar'
        
    