%section.contexto
    %label.contexto Empresas > Empresas Eliminadas
    %hr.contexto{:size => "1"}
%p#notice.ui-state-highlight.ui-corner-all
    -if (notice)
        =notice
        -notice = nil
%section#areaTrabajo.areaTrabajo
    =form_tag update_multiple_empresas_path, :method => "put", :id => "formulario_eliminadas" do
       
        %table#data_table_empresas_retirar.display{:"data-source" => "/empresas.json?eliminadas=true"}
            %thead
                %tr
                    %th Selecci贸n
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripci贸n
                    %th Direcci贸n empresa
                    %th Estado
                    %th Ciudad
                    %th RIF
                    %th Estatus
                    %th Sub-estatus
                    %th Motivo Eliminaci贸n
                    %th Detalle
                    %th Productos
                    %th Servicios
                    %th GLN

            %tbody
            %tfoot
                =render 'footer_retirar'
        %br/
        %br/
        
        =hidden_field_tag "reactivar", "true"
        = submit_tag 'Reactivar'
        
    