%section.contexto
    %label.contexto Empresas Activas > Listado
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    
    - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Exportar Empresa')
        =render 'botones_exportar'

    %table#data_table_empresas.display{:"data-source" => "#{@vista_empresa}"}
        %thead
            %tr
                %th Prefijo
                %th Nombre Empresa
                %th Fecha Activación
                %th Ciudad
                %th RIF
                %th Estatus
                %th Sub Estatus
                %th Detalle
                - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Modificar Empresa')
                    %th Editar Empresa 
                %th Productos
                %th Servicios
                %th GLN
                %th Etiquetas
                %th Carta Unica de Afiliación
                - if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Asociar Nuevo Prefijo')
                    %th Asociar Nuevo Prefijo
               
        %tbody
        %tfoot
            =render 'footer'
    
    .loader_prueba
        =image_tag "loader.gif", :class => "loader" 
