%section.contexto
    %label.contexto Empresas > Retirar Empresas
    %hr.contexto{:size => "1"}
%p#notice.ui-state-highlight.ui-corner-all
    -if (notice)
        =notice
        -notice = nil
%section#areaTrabajo.areaTrabajo
    =form_tag update_multiple_empresas_path, :method => "put" do
        %table#data_table_empresas_retirar.display{:"data-source" => "/empresas.json?retirar=true"}
            %thead
                %tr
                    %th Selecci贸n
                    %th Prefijo
                    %th Nombre Empresa
                    %th Fecha Inscripci贸n
                    %th Direcci贸n empresa
                    %th Estado
                    %th Ciudad
                    %th RIF
                    %th Estatus
                    %th Clasificaci贸n
                    %th Rep Legal
                    %th Sub-estatus
                    %th Motivo Ret

                    
                    
            %tbody
            %tfoot
                =render 'footer_retirar'
        %br/
        %br/
        =hidden_field_tag "retiro", "true"
        = submit_tag 'Retirar'
        = link_to 'Regresar', '/empresas'
    