/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */

 body{
		margin: 0px;
	}
	div.banner{
		/*border-style: solid;
		border-width: 1px;*/
		width: 100%;
		min-width: 900px;
		background-color: #003d79;/**/
		position: fixed;
		top: 0px;
		height: 75px;
		z-index: 10;
		
		
	}
	
	
	img.logo-der{
		
		width: 650px;
		position: absolute;
		right: 0px;

	}
	img.logo-izq{
		
		position: absolute;
		left: 0px;
	}	

	.menu{
	/*border-style: solid;
	border-width: 1px;*/
	width: 170px;
	height: 100%;
	position: absolute;
	top: 220px;
}
div.submenu{
	font-family: arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #545454;
	
    margin-left: 20px;
    margin-bottom: 20px;
    
}

div.opcion{
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #949393;
	margin-left: 10px;
	
    margin-bottom: 10px;
    

}







hr.separador{			
	color: #dedddd;
	margin-left: 10px;
	margin-bottom: 20px;
    margin-top: 20px;
    border-style: solid;
}

hr.contexto{
	color: #dedddd;
	border-style: solid;
	margin-left: 10px;
	margin-bottom: 20px;
    margin-top: 20px;		    
}
label.contexto{
	font-family: arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #545454;
	position: absolute;
	left: 10px;
	
}
section.contexto{
	/*border-style: solid;
	border-width: 1px;*/
	width: 85%;
	height: 30px;
	position: absolute;
	top: 100px;
	left: 220px;
}
section.identificador{
	/*border-style: solid;
	border-width: 1px;*/
	position: absolute;
	top: 80px;
	left: 20px;
	text-align:center;

}
section.areaTrabajo{
	/*border-style: solid;
	border-width: 1px;*/
	width: 84%;
	height: 100%;
	position: absolute;
	top: 140px;
	left: 230px;
}

section.formulario{
	/*border-style: solid;
	border-width: 1px;*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 75px;
	padding-left: 10px;
	
}

label.usuario{
	/*border-style: solid;
	border-width: 1px;*/
	font-family: arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #545454;
	position: relative;
}

label.session{
	/*border-style: solid;
	border-width: 1px;*/
	font-family: arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#F74a4a;
	position: relative;
}


label.rol{
	/*border-style: solid;
	border-width: 1px;*/
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #949393;
	
}
label.actor{
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #949393;
	position: relative;
}

.botones_menu{
	display: block;
	padding-top:5px; 
	padding-left:19px;
	padding-right: 5px;
	padding-bottom: 5px; 
	text-decoration: none;
	position: relative; 
	font: 100% "Trebuchet MS", sans-serif;
	cursor: pointer;
	width: 135px;
	margin-bottom: 5px;
	margin-left: 15px;
	
}

.botones_menu span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.botones_servicio{
	
	padding-top:5px; 
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 5px; 
	text-decoration: none;
	position: relative; 
	font: 100% "Trebuchet MS", sans-serif;
	cursor: pointer;
	width: 90px;

}


/*
a.botones_servicio{
	color: #555555;;
	text-decoration: none;
}
a.botones_servicio:link    {color:#555555;}
a.botones_servicio:visited {color:#555555;}
a.botones_servicio:hover   {color: #212121; border: 1px solid #999999; border: 1px solid #999999;
background: #dadada url(/assets/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #212121;}
a.botones_servicio:active  {color:black;}

*/








