.exportar_reporte_servicios { cursor: pointer; }
.exportar_reporte_servicios {padding: .4em 1em .4em 20px;text-decoration: none;position: relative; font: 100% "Trebuchet MS", sans-serif;margin-bottom: 30px;}
.exportar_reporte_servicios span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.exportar_reporte_gln { cursor: pointer; }
.exportar_reporte_gln {padding: .4em 1em .4em 20px;text-decoration: none;position: relative; font: 100% "Trebuchet MS", sans-serif;margin-bottom: 30px;}
.exportar_reporte_gln span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.exportar_reporte_productos {cursor: pointer; }
.exportar_reporte_productos {padding: .4em 1em .4em 20px;text-decoration: none;position: relative; font: 100% "Trebuchet MS", sans-serif;margin-bottom: 30px;}
.exportar_reporte_productos span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.exportar_reporte_empresas {cursor: pointer; }
.exportar_reporte_empresas  {padding: .4em 1em .4em 20px;text-decoration: none;position: relative; font: 100% "Trebuchet MS", sans-serif;margin-bottom: 30px;}
.exportar_reporte_empresas span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}