%section.contexto
    %label.contexto Nuevas Empresas > Listado
    %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    /=render 'botones_exportar'
    %table#data_table_empresa_registradas.display{:"data-source" => "#{@ruta}"}
        %thead
            %tr 
                %th RIF
                %th Nombre Empresa
                %th Fecha Registro
                %th Ciudad
                %th Sub-Estatus
                %th Tipo Usuario
                %th Ventas Brutas Anuales
                %th Clasificación
                %th Editar Empresa 
               
               
        %tbody
        %tfoot
            =render 'footer'

    
        
   