%table.margen_superior
    %tr
        %td
            %form{action: "#{empresa_glns_path}.pdf", method: "get", target: "_blank"}
                .parametros
                %button.ui-state-default.ui-corner-all.exportar_gln_eliminar{:type => "submit", :title => "Exportar el listado general de Empresas a formato PDF"}
                    %span.ui-icon.ui-icon-disk
                    Exportar PDF

        %td
            %form{action: "#{empresa_glns_path}.xlsx", method: "get"}
                .parametros
                %button.ui-state-default.ui-corner-all.exportar_gln_eliminar{:type => "submit", :title => "Opción que te permite exportar el listado general de Empresas a formato Excel"}
                    %span.ui-icon.ui-icon-disk
                    Exportar Excel