%section.contexto
  %label.contexto
    =@navegabilidad 
  %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
  %p#notice= notice

  %table#data_table_gln_eliminados.display{:"data-source" => "#{empresa_glns_path}.json?eliminados=true"}
    %thead
      %tr
        %th GLN
        %th Tipo GLN
        %th Código localización
        %th Descripción
        %th Fecha asignación
        %th Estado
        %th Ciudad
        %th Municipio
        %th Fecha Eliminación
        %th Estatus
        %th Detalle
        %th Sub Estatus
        %th Motivo Retiro
        
        
    %tbody
    %tfoot
      =render "footer_eliminados"
  %br
  %br
  %a.ui-state-default.ui-corner-all.regresar_empresas_sin_espacio{:href => "#{empresa_glns_path}", :title => "Regresar"}
    %span.ui-icon.ui-icon-arrowreturnthick-1-w
    Regresar
  
  
